<h3>Your Restaurants</h3>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>

<%= link_to 'Add new restaurant', restaurant_new_path(@restaurant) %>
